.center {
	width: 100%;
	margin: auto;
	text-align: center;
}

.html-list {
	list-style-type: square;
}

.center-list {
	width: 90%;
	text-align: left;
	display: inline-block;
}

p { color: red;}

li{ color: blue}